<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../layout/user/header.ejs') %> 
</head>
<body style="background-color: #000000;">
	
	<%- content %> 
	
	<%- include('../../layout/user/javascript.ejs') %> 

</body>
</html>