<!doctype html>
<html lang="en">
  <head>

    <!-- header -->
    <%- include('../../layout/userAdmin/header') %> 

  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
		
    <!-- navbar -->
    <%- include('../../layout/userAdmin/navbar') %> 

    <!-- Page Content  -->
    <%- include('../../layout/userAdmin/pageContent') %> 

		</div>

    <!-- javascript -->
    <%- include('../../layout/userAdmin/js') %> 

  </body>
</html>