<%- extend('appHome/root') %> 
<style>
     .btn {
        background-color: #b39107;
    }
</style>

<div class="container">
    <div class="card" style=" width: 23rem; margin-top: 50px;">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="/adminBlog">
    
                <div class="form-group">
                  <label class="form-label" for="judul">Judul Blog</label>
                  <input type="text" class="form-control" id="judul" name="title" placeholder="Masukan Judul Blog">
                </div>
                <div class="form-group" style="margin-top:40px">
                    <label class="form-label" for="isi1">Isi Blog 1</label>
                    <textarea class="form-control" id="isi1" name="content1" placeholder="Masukan Judul Blog" rows="7"></textarea>
                </div>
                <div class="form-group" style="margin-top:40px">
                    <label class="form-label" for="isi2">Isi Blog 2</label>
                    <textarea class="form-control" id="isi2" name="content2" placeholder="Masukan Judul Blog" rows="7"></textarea>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <label class="form-label" for="image">Upload File</label>
                    <input type="file" class="form-control" id="image" name="images"/>
                </div>
                <% if(locals.msg) { %>
                    <div class="alert-danger" style="color: red" role="alert">
                        <%= msg %> 
                    </div>
                <% } %> 
                <button type="submit" class="btn btn-warning" style="margin-top: 30px">Submit</button>
            </form>
        </div>
    </div>
</div>