<%- extend('appHome/root') %> 

<style>
    .btn {
        background-color: #b39107;
    }
</style>




<div class="container">
    <div class="card" style=" width: 23rem; margin-top: 50px;">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="/adminPortfolio">
              
                <div class="form-group" style="margin-top: 20px">
                    <label class="form-label" for="image">Upload File</label>
                    <input type="file" class="form-control" name="images" id="image" />
                    <% if (locals.msg) { %>
                        <div class="alert-danger" style="color: red" role="alert"><%= msg %></div>
                    <% } %> 
                </div>
    
                <button type="submit" class="btn btn-warning" style="margin-top: 30px;">Submit</button>
            </form>
        </div>
    </div>
</div>