<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar List</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Slug</th>
                                <th scope="col" style="padding-left: 50px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% lists.forEach(function(list) { %>
                                <tr>
                                    <td><%= list.name %></td>
                                    <td><%= list.slug %> </td>
                                    <th>
                                        <button class="btn btn-warning"><a href="home/<%= list._id %>/edit " style="color: white;">Edit</a></button>
                                        <button class="btn btn-danger"><a href="" style="color: aliceblue">Delete</a></button>
                                    </th>
                                </tr>
                            <% }); %> 

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>