<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/root/header')%>
    <title>About</title>
</head>
<body>
    

    <%- include('layout/navbar') %>

    <div class="container">
        <h1 style="margin-top : 30px">Ini adalah About</h1>
    </div>

    <%- include('layout/root/js')%>
  

</body>
</html>