<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="widget">
          <address style="padding-left: 20px; font-size: 13px">
              <strong><b style="font-size: 15px"> rabunCode</b></strong><br>
                  Samping kiri situs klasik Dorobata<br>
                  Kel. Kandai Satu, Kab. Dompu, <br> Prov. Nusa Tenggara Barat
              </address>
          <p style="padding-left: 20px; font-size: 13px">
              <i class="icon-phone"></i> +628 5238 4670 21 <br>
              <i class="icon-envelope-alt"></i> petotabs15@gmail.com
          </p>
          <div id="sub-footer">
            <div class="container">
              <div class="row">
                <div class="span8">
                  <div class="copyright">
                    <p>
                      <span>&copy; rabunCode - All right reserved.</span>
                    </p>
                    <div class="credits">
                      Designed by <a href="https://www.facebook.com/profile.php?id=100009141231551" target="_blank" style="color: #b39107">Petot</a>
                    </div>
                  </div>
                </div>
                <div class="span6">
                  <ul class="social-network">
                    <li><a href="https://www.facebook.com/profile.php?id=100009141231551" target="_blank" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                    <li><a href="https://twitter.com/idinabs15" target="_blank" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/petot-abs-aa364b206/" data-placement="bottom" target="_blank" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>