<div class="row">
    <div class="span4">
      <div class="logo">
        <a href="/" style="text-decoration: none;"><h1 style="font-size: 40px">rabunCode</h1></a>
      </div>
    </div>
    <div class="span8">
      <div class="navbar navbar-static-top">
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li class="dropdown">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/pricing">Pricing</a>
              </li>
                <ul class="dropdown-menu">
                </ul>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href="/contact">Contact </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end navigation -->
      </div>
    </div>
  </div>