<div class="span13">
    <div class="row">
      <div class="span3">
        <div class="box aligncenter">
          <div class="aligncenter icon">
            <i class="icon-briefcase icon-circled icon-64 active"></i>
          </div>
          <div class="text">
            <h6>Corporate business</h6>
            <p>
              Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
            </p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="box aligncenter">
          <div class="aligncenter icon">
            <i class="icon-desktop icon-circled icon-64 active"></i>
          </div>
          <div class="text">
            <h6>Responsive theme</h6>
            <p>
              Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
            </p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="box aligncenter">
          <div class="aligncenter icon">
            <i class="icon-beaker icon-circled icon-64 active"></i>
          </div>
          <div class="text">
            <h6>Coded carefully</h6>
            <p>
              Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>