<section class="callaction">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="big-cta">
            <div class="cta-text">
              <h3 style="margin-left: 10px;">Mohon maaf  <span class="highlight"><strong>Lahir </strong></span>dan<span class="highlight"><strong> Batin</strong></span> Happy Eid Al - Adha 1442 H </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>