<nav id="sidebar" class="active">
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
        <a href="#"><span class="fa fa-user"></span> Portfolio</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-shopping-cart"></span> Services</a>
        </li>
    </ul>
</nav>