<%- extend('../root/home/app') %> 



<section class="pricing" id="work-process">
    <div class="pricing-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ml-5 mb-2">
                    <div class="blog-heading">
                        <h2 class="blog-title"><%= title %> </h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6 ml-5 mb-3">
                    <div class="blog-text">
                        <p>Cari produk yang anda inginkan disini, lebih mudah mencari produk berkualita disini</p>
                    </div>
                    
                </div>
                <div class="container pb-5 mb-5">
                    <form class="form-inline my-2 my-lg-0 ml-5 mb-5">
                        <input class="form-control mr-sm-2" type="search" placeholder="Cari" aria-label="Search">
                        <button class="btn btn-warning my-2 my-sm-0 ml-1" type="submit"><i class="fa fa-search mr-2"></i>cari</button>
                    </form>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" ></i>
                        <strong>Baju bayi polos usia 6,7,8 bulan</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" ></i>
                        <strong>Baju bayi polos usia 6,7,8 bulan</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" ></i>
                        <strong>Baju bayi polos usia 6,7,8 bulan</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" ></i>
                        <strong>Baju bayi polos usia 6,7,8 bulan</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" >
                        <strong>Baju bayi polos usia 6,7,8 bulan</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" >
                        <strong>Baju bayi polos usia 6,7,8 bulan</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="pricing-box">
                        <img src="https://th.bing.com/th/id/R.773dc822a266edcd23ccbb29880a4ca8?rik=RYv9PPWcC9Varw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KBb_2JpouKk%2fU41-X2VhkbI%2fAAAAAAAAAJ0%2fC5k8SukKWho%2fs1600%2fModel%2bBaju%2bPesta%2bBayi%2bLaki-Laki.jpeg&ehk=L5%2bB6GJ5Nt31vvGs3btrdNK0q64%2bpCmeDK8CsJiN2oo%3d&risl=&pid=ImgRaw&r=0" alt="" >
                        <strong>jwjfo hfihefh hfwifeihf wehfiehwofi</strong>
                        <span>Rp. 20.000</span>
                        <span>2000 Terjual</span>

                    </a>
                </div>
            </div>

        </div>
    </div>
</section>




<script>

    let pricing = document.querySelector('.pricing');
    pricing.style.marginTop = '9rem';

    let searchForm = document.querySelector('.form-control');
    searchForm.style.borderRadius = '20px'
    searchForm.style.height = '2.7rem'


    let btnForm = document.querySelector('.btn')
    btnForm.style.borderRadius = '20px'


    let form = document.querySelector('form')
    form.style.marginTop = '60rem'

    let formControl = document.querySelector('.form-control')
    formControl.style.width = '17rem'

    // let imageSize = document.querySelector('img')[0]
    // let att = document.createAttribute('width');
    // att.value = "1rem";
    // imageSize.setAttribute(att)
</script>