<section class="section colored" id="contact-us">
    <div class="container">

        <div class="d-flext justify-content-center row" style="background-color: #ffffff; box-shadow: 0px 4px 20px 0px; border-radius: 60px 60px 60px 60px; height: 28rem;">
            <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 2rem">
               
                <div class="contact-form">
                    <form id="contact" action="/contact" method="POST">
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <fieldset>
                            <input name="username" type="text" class="form-control" id="name" placeholder="Username" required="isi username anda">
                          </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="isi email anda">
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required="isi pesan anda"></textarea>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Kirim Pesan</</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                </div>
            </div>

           
        </div>
    </div>
</section>