<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="home/assets/images/logo.png">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

<title><%= title %> </title>

<link rel="stylesheet" type="text/css" href="home/assets/css/bootstrap/rabuncode.css">
<link rel="stylesheet" type="text/css" href="home/assets/css/font-awesome.css">
<link rel="stylesheet" href="home/assets/css/index.css">