<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="#" class="logo">
                        <h2>rabunCode</h2>
                    </a>
                    <ul class="nav">
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="#">About</a></li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>