<div class="welcome-area" id="welcome">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>"Lahir untuk menciptakan <strong>peradaban</strong> yang baru"</h1>
                </div>
            </div>
        </div>
    </div>
</div>